.header {
    text-align: center;
    text-transform: uppercase;
    color: ghostwhite;
    background-color: brown;
}

.header h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.7rem;
    color: lightgrey;
}

.header img {
    width: 90vw;
    height: 70vh;
    padding-bottom: 4rem;
}

.subtitulo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    height: 300%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitulo p {
    width: 80%;
}

.conteudo {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue; 
}

.content {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.cards {
    display: flex;
    align-items: center;
    justify-content: around;
    padding-bottom: .5rem;
    margin-left: 3rem;
}

.cardsContainer {
    width: 80%;
}

.card {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagemCard {
    width: 27rem;
    height: 27rem;
    border-radius: 10px;
}

.textos {
    margin: 2rem;
    font-size: 1.5rem;
}

.cardsSenoritas  {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem;
    
}

.cardSenoritas iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* width: 560px;
    height: 315px; */
}

.cardSenorita iframe{
    margin-top: 3rem;
    width: 560px;
    height: 315px;
    margin-left: 25rem;
    margin-right: 25rem;
} 

.texto {
    margin: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;

}


@media(max-width: 765px) {
    .subtitulo {
        flex-direction: column;
    }

    .header h1 {
        padding: 2rem;
        font-size: 2rem;
    }
 
    .header img {
        width: 70vw;
        height: 35vh;
    }
    .imagemCard {
        width: 30rem;
        height: 30rem;
    }

    .subtitulo p {
        width: 80%;
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 7rem;
        flex-direction: column;
        margin-left:0;
        margin-right: 0;
    }

    .content {
        width: 100%;
        padding-bottom: 4rem;
        flex-direction: column;
    } 

    .cards {
        width: 60%;
        height: 60vh;
        flex-direction: column;
    }

    .card{
        margin-left: 2.5rem;
        margin-right: 2rem;
    }

.cardsContainer {
    width: 100%;
    flex-direction: column;
}

    .textos {
        font-size: 1.1rem;
        flex-direction: column;
        margin: 2rem;
    }

    .imagemCard {
        width: 11rem;
        height: 11rem;
    }

    .texto {
        margin: 1.8rem;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .cardSenorita iframe{
        width: 360px;
        height: 200px;
        margin: 0;
        margin-top: 3rem;
    } 

}