.header {
    text-align: center;
    text-transform: uppercase;
    color: ghostwhite;
    background-color: brown;
}

.header h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.6rem;
    color: lightgrey;
}

.header img {
    width: 70%;
    height: 25%;
    padding-bottom: 5rem;
}

.subtitulo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.8rem;
    height: 300%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.subtitulo p {
    width: 80%;
}

.conteudo {
    width: 100%;
    background-color: gainsboro;
}


.content {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardsContainer {
    width: 70%;
}

.card {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagemCard {
    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    margin: 2rem;
}

.textos {
    margin: 2rem;
    font-size: 1.4rem;
    text-align: center;
}

.cardsSenoritas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: aliceblue;
}

.cardSenoritas iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cardSenorita iframe {
    margin-top: 3rem;
    width: 560px;
    height: 315px;
    margin-left: 25rem;
    margin-right: 25rem;
}

.texto {
    margin: 2rem;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    line-height: 28px;

}


@media(max-width: 765px) {

    .header h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.6rem;
    }

    .header img {
        width: 70%;
        height: 25%;
    }

    .subtitulo {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 1.7rem;
        height: 300%;
        flex-direction: column;
    }

    .imagemCard {
        width: 60vw;
        height: 50vh;
    }

    .subtitulo p {
        width: 80%;
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 7rem;
        flex-direction: column;
    }

    .content {
        width: 100%;
        padding-bottom: 4rem;
        flex-direction: column;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
    }

    .cardsContainer {
        width: 100%;
        flex-direction: column;
    }

    .textos {
        font-size: 1.1rem;
        flex-direction: column;
        margin: 2rem;
    }

    .texto {
        margin: 2rem;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2rem;
    }

    .cardSenorita iframe {
        width: 360px;
        height: 200px;
        margin: 0;
        margin-top: 3rem;
    }
}