.header {
    text-align: center;
    font-style: italic;
    background-color: brown;
}


.header h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.7rem;
    color: lightgrey;
}

.header img {
    width: 70vw;
    height: 80vh;
    padding-bottom: 4rem;
}

.flexboxContainer {
    width: 100%;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
}

.subtitulo {
    font-size: 1.8rem;
    color: darkslategray;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}


.listas p {
    font-size: 1.2rem;
    color: #111;
    border-radius: 20px;
    border: solid lightslategrey;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    background-color: #E5FFCC;
}

@media(max-width: 765px) {
    .header h1 {
        flex-direction: column;
    }

    .header img {
        width: 70vw;
        height: 50vh;
    }

    .flexboxContainer {
        width: 100%;
        flex-direction: column;
    }

    .listas p {
        flex-direction: column;
    }
}