.header {
    text-align: center;
    font-style: italic;
    background-color: brown;
}

.header h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.7rem;
    color: lightgrey;
}

.header img {
    width: 70vw;
    height: 80vh;
    padding-bottom: 4rem;
}

.flexboxContainer {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    align-items: baseline;
    background-color: darkgrey;
}

.subtitulo {
    font-size: 1.8rem;
    color: darkslategray;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
}


.listas p {
    font-size: 1rem;
    color: #111;
    border-radius: 20px;
    border: solid darkslategray;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
    margin-bottom: 1rem;
    margin-right: 1.4rem;
    justify-content: center;
    background-color: gainsboro;
}

@media(max-width: 765px) {
    .header h1 {
        flex-direction: column;
    }

    .header img {
        width: 68vw;
        height: 33vh;
    }

    .flexboxContainer {
        width: 100%;
        flex-direction: column;
    }

    .listas p {
        flex-direction: column;
    }
}

