
.header {
    text-align: center;
    background-color: brown; 
    padding-bottom: 2rem; 
}
  
  .header h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: lightgrey;
  }
  
  .header img {
    width: 90%;
    height: 50%;
    padding-bottom: 2rem;
  }
  
  .subtitulo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    height: 300%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkslategrey;
    font-weight: bold;
    font-style: oblique;
  }

  .subtitulo p {
    width: 60%;
  }
  
  .motivos {
    width: 100%;
    background-color: aliceblue;
  }
  
  .content {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .cardsContainer {
    width: 70%;
  }
  
  .tituloCards {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 3rem;
    font-style: oblique;
    color: darkslategrey;
  }
  
  .card {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .imagemCard {
    width: 20rem;
    height: 20rem;
    border-radius: 15px;
  }
  
  .textos {
    margin: 1.5rem;
    font-size: 1.2rem;
    text-align:start;
    line-height: 21px;
    font-style: oblique;
  }
  
  .subtituloCard {
    font-size: 1.5rem;
    color: dimgrey;
    font-style:oblique;
    padding-bottom: .4rem ;
  }
  
  .texto {
    width: 11rem;
    padding-bottom: 2rem;
  }
  
  @media(max-width: 765px) {
    .content {
      flex-direction: column;
    }
  
    .subtitulo {
      height: 300%;
    }
  
    .cards {
      flex-direction: column;
    }
  
    .card {
      flex-direction: column;
    }
  
    .subtituloCard {
      text-align: center;
    }
  
    .header img {
      width: 90%;
      height: 50%;
    }
  } 